.containerer {
    border-width: 4px;
    border-style: inset;
    border-radius: 10px;
    
    border-color: rgb(12, 79, 57);
    background-color: rgb(248, 255, 255);
  
    margin-top: 180px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    min-height: 300px;
    padding-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  
  .content {
    margin: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  button {
    margin: 15px;
  padding: 10px 20px;
  font-size: 16px;
  }
  