.container {
    text-align: center;
  }
  
  .header {
    margin-bottom: 20px;
  }
  
  .generate-button {
    font-size: 1.2rem;
    padding: 10px 20px;
  }
  
  .fact-text {
    font-weight: 700;
    color: rgb(7, 7, 67);
    font-size: x-large;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
  }
  
  .category-button {
    font-size: 1.2rem;
    margin: 0 5px;
    padding: 10px 20px;
  }
  
  
  
  