.container {
  font-weight: 800 ;
  font-size: larger;
  color: rgb(2, 12, 51);
  
  border:transparent;
  background: 
  linear-gradient(white,white), 
  linear-gradient( rgb(10, 130, 66) , rgb(3, 3, 47),rgb(5, 44, 5), rgb(56, 4, 56),rgb(15, 63, 15)); 
background-clip: padding-box, border-box;
background-origin: padding-box, border-box;
    border-radius: 40px;
    border-width: 4px ;
    border-style: groove;
    margin-top: 145px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
  }

  
  
  .title {
    margin-top: 100px;
    font-size: 28px;
    text-align: center;
  }
  
  .subtitle {
    margin-bottom: 50px;
    margin-top: 65px;
    font-size: 20px;
    text-align: center;
  }
  
  .button {
    margin-bottom: 40px;
    padding: 10px 20px;
    display: block;
    font-size: 18px;
  }
  