.containers { 
  border: transparent;
  background: 
  linear-gradient(white,white), 
  linear-gradient( rgb(10, 130, 66) , rgb(3, 3, 47),rgb(5, 44, 5), rgb(56, 4, 56),rgb(15, 63, 15)); 
background-clip: padding-box, border-box;
background-origin: padding-box, border-box;
    border-radius: 15px;
    border-style: groove;
    border-width: 2px;
    max-width: 80%;
    box-shadow: 7px 7px rgb(194, 191, 191);
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    margin-top: 116px;
  }
  
  .button-containers {
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
  }

  .buttoncen {margin-left: auto;
margin-right: auto;
margin-bottom: 30px;}
  
  .button-containers button {
    margin: 15px;
  }
  
  @media screen and (min-width: 768px) {
    .container {
      max-width: 768px;
    }
  }
  
  